In [1]:
import pandas as pd
import numpy as np

In [2]:
#leer el csv
df = pd.read_csv('../data/sp500_esg_data.csv')
df.head()

,Symbol,Full Name,GICS Sector,GICS Sub-Industry,environmentScore,socialScore,governanceScore,totalEsg,highestControversy,percentile,ratingYear,ratingMonth,marketCap,beta,overallRisk
0,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,1.12,6.42,6.10,13.64,2.0,7.98,2023.0,9.0,39751831552,1.054,8
1,AAL,American Airlines Group,Industrials,Passenger Airlines,9.94,11.65,4.76,26.35,2.0,54.48,2023.0,9.0,7335383552,1.433,10
2,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.46,7.39,9.37,17.22,3.0,17.82,2023.0,9.0,3296096681984,1.240,1
3,ABBV,AbbVie,Health Care,Biotechnology,2.38,17.19,10.36,29.93,3.0,68.62,2023.0,9.0,341698445312,0.619,6
4,ABT,Abbott Laboratories,Health Care,Health Care Equipment,2.27,14.24,8.33,24.83,3.0,48.27,2023.0,9.0,205534380032,0.722,7

In [3]:
df.shape

(426, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426 entries, 0 to 425
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Symbol              426 non-null    object
 1   Full Name           426 non-null    object
 2   GICS Sector         426 non-null    object
 3   GICS Sub-Industry   426 non-null    object
 4   environmentScore    426 non-null    float64
 5   socialScore         426 non-null    float64
 6   governanceScore     426 non-null    float64
 7   totalEsg            426 non-null    float64
 8   highestControversy  426 non-null    float64
 9   percentile          426 non-null    float64
 10  ratingYear          426 non-null    float64
 11  ratingMonth         426 non-null    float64
 12  marketCap           426 non-null    int64
 13  beta                426 non-null    float64
 14  overallRisk         426 non-null    int64
dtypes: float64(9), int64(2), object(4)
memory usage: 50.1+ KB

In [5]:
df.isnull().sum()

Symbol                0
Full Name             0
GICS Sector           0
GICS Sub-Industry     0
environmentScore      0
socialScore           0
governanceScore       0
totalEsg              0
highestControversy    0
percentile            0
ratingYear            0
ratingMonth           0
marketCap             0
beta                  0
overallRisk           0
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.columns

Index(['Symbol', 'Full Name', 'GICS Sector', 'GICS Sub-Industry',
       'environmentScore', 'socialScore', 'governanceScore', 'totalEsg',
       'highestControversy', 'percentile', 'ratingYear', 'ratingMonth',
       'marketCap', 'beta', 'overallRisk'],
      dtype='object')

In [8]:
#cambiar nombres de columnas
df.rename(columns={'environmentScore':'Environment Score','GICS Sub-Industry':'Sub Industry','highestControversy':'Controversy Level','totalEsg':'ESG Total Score','socialScore':'Social Score','governanceScore':'Governance Score','percentile':'Percentile','ratingYear':'Rating Year', 'ratingMonth':'Rating Month','marketCap':'Market Cap','overallRisk':'Overall Risk'}, inplace=True)

In [14]:
#Creo una columna con year y month
df['Rating Year'] = pd.to_numeric(df['Rating Year'], errors='coerce').astype('Int64')
df['Rating Month'] = pd.to_numeric(df['Rating Month'], errors='coerce').astype('Int64')

df['Rating Date'] = pd.to_datetime(
    {
        'year': df['Rating Year'],
        'month': df['Rating Month'],
        'day': 1
    },
    errors='coerce'
)

In [15]:
numeric_cols = [
    'Environment Score', 'Social Score', 'Governance Score', 'ESG Total Score',
    'Controversy Level', 'Percentile', 'Market Cap', 'beta', 'Overall Risk'
]

df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [17]:
df.isna().sum()

Symbol               0
Full Name            0
GICS Sector          0
Sub Industry         0
Environment Score    0
Social Score         0
Governance Score     0
ESG Total Score      0
Controversy Level    0
Percentile           0
Rating Year          0
Rating Month         0
Market Cap           0
beta                 0
Overall Risk         0
Rating Date          0
dtype: int64

In [18]:
df.columns

Index(['Symbol', 'Full Name', 'GICS Sector', 'Sub Industry',
       'Environment Score', 'Social Score', 'Governance Score',
       'ESG Total Score', 'Controversy Level', 'Percentile', 'Rating Year',
       'Rating Month', 'Market Cap', 'beta', 'Overall Risk', 'Rating Date'],
      dtype='object')

In [19]:
df.head()

,Symbol,Full Name,GICS Sector,Sub Industry,Environment Score,Social Score,Governance Score,ESG Total Score,Controversy Level,Percentile,Rating Year,Rating Month,Market Cap,beta,Overall Risk,Rating Date
0,A,Agilent Technologies,Health Care,Life Sciences Tools & Services,1.12,6.42,6.10,13.64,2.0,7.98,2023,9,39751831552,1.054,8,2023-09-01
1,AAL,American Airlines Group,Industrials,Passenger Airlines,9.94,11.65,4.76,26.35,2.0,54.48,2023,9,7335383552,1.433,10,2023-09-01
2,AAPL,Apple Inc.,Information Technology,"Technology Hardware, Storage & Peripherals",0.46,7.39,9.37,17.22,3.0,17.82,2023,9,3296096681984,1.240,1,2023-09-01
3,ABBV,AbbVie,Health Care,Biotechnology,2.38,17.19,10.36,29.93,3.0,68.62,2023,9,341698445312,0.619,6,2023-09-01
4,ABT,Abbott Laboratories,Health Care,Health Care Equipment,2.27,14.24,8.33,24.83,3.0,48.27,2023,9,205534380032,0.722,7,2023-09-01

In [2]:
df.to_csv('esg_clean.csv', index=False)

NameError: name 'df' is not defined

In [4]:
try:
    df = pd.read_csv("../data/esg_clean.csv") 
except Exception as e:
    df = pd.read_csv('esg_tableau.csv', sep=',', encoding='latin-1')

df.to_csv('esg_tableau.csv', sep=';', index=False)